<div class="container">
  <h3>Sign up:</h3>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :nickname,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "nickname" }%>
      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "first_name" }%>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "last_name" }%>
      <%= f.input :pet_sitter,
                  collection: [["Yes", true], ["No", false]],
                  as: :radio_buttons,
                  required: true,
                  label: "Do you wish to become a Paw Sitter? 
                          <a href='#' data-bs-toggle='modal' data-bs-target='#infoModal'>
                            <i class='bi bi-info-circle-fill' style='cursor: pointer;'></i>
                          </a>".html_safe %>
      <!-- Modal -->
      <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="infoModalLabel">What is a Paw Sitter?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            A Paw Sitter is a dedicated pet caregiver who provides professional pet sitting services while pet owners are away. Whether it's a short weekend getaway or an extended vacation, Paw Sitters ensure that pets are well-cared for in the comfort of their own home. Services can include feeding, walking, administering medication, and offering companionship, all based on the specific needs of the pet during the agreed period.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <%= f.input :address,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "address" }%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions mb-5">
      <%= f.button :submit, "Sign up", class: "btn btn-success" %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
