<h1><%= @pet.name %>'s Profile</h1>

<div class="pet-info">
  <h3>Personal informations</h3>
  <p><strong>Name :</strong> <%= @pet.name %></p>
  <p><strong>Species :</strong> <%= @pet.species.capitalize %></p>
  <p><strong>Breed :</strong> <%= @pet.breed %></p>
  <p><strong>Age :</strong> <%= @pet.age %></p>
  <p><strong>Description :</strong> <%= @pet.description %></p>

<%= link_to "Back to Profile", user_path(current_user), class: "btn btn-secondary" %>
