<div class="navbar navbar-expand-sm navbar-light navbar-pawsitter">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <span class="fs-0">🐾 Pawsitter 🐾</span>
    <% end %>


    <!-- Add Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-2">
        <% if user_signed_in? %>
        <% else %>
          <li class="nav-item ">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!-- Navbar at bottom -->
<nav class="navbar fixed-bottom navbar-light bg-light">
  <ul class="navbar-nav w-100 d-flex flex-row justify-content-around align-items-center mb-0">
    <li class="nav-item">
      <%= link_to root_path, class: 'nav-link text-center' do %>
        <i class="fas fa-home fa-2x"></i> <!-- Home icon -->
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to reservations_path, class: 'nav-link text-center' do %>
        <i class="fas fa-calendar-alt fa-2x"></i> <!-- Reservations icon -->
      <% end %>
    </li>
    <li class="nav-item">
      <% if @reservation %>
        <%= link_to reservations_path(@reservation), class: 'nav-link text-center' do %>
          <i class="fas fa-envelope fa-2x"></i> <!-- Messages icon -->
        <% end %>
      <% end %> <!-- Close the `if` block -->
    </li>
    <li class="nav-item">
      <%= link_to "#", class: 'nav-link text-center' do %>
        <i class="fas fa-user fa-2x"></i> <!-- Profile icon -->
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-center' do %>
        <i class="fas fa-sign-out-alt fa-2x"></i> <!-- Log out icon -->
      <% end %>
    </li>
  </ul>
</nav>
