<div class="navbar navbar-expand-sm navbar-light navbar-pawsitter">
  <div class="container-fluid d-flex justify-content-between align-items-center">
  
    <!-- Left aligned logo -->
    <div>
      <%= link_to "#", class: "navbar-brand" do %>
        <span id="pawsitter", class="fs-0">🐶 Pawsitter 🐱</span>
      <% end %>
    </div>

    <!-- Right aligned welcome message -->
    <% if user_signed_in? %>
      <div class="text-end">
        <h6 class="mb-0">Welcome <%= current_user.first_name.to_s.capitalize %> !</h6>
      </div>
    <% end %>
  </div>
</div>


    <!-- Add Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-2">
        <% if user_signed_in? %>
        <% else %>
          <li class="nav-item ">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!-- Navbar at bottom -->
  <!-- Navbar Home Button -->
<nav class="navbar fixed-bottom navbar-light bg-light">
  <ul class="navbar-nav w-100 d-flex flex-row justify-content-around align-items-center mb-0 py-2">
    <li class="nav-item d-flex flex-column align-items-center">
      <%= link_to root_path, class: 'nav-link text-center' do %>
        <i class="fas fa-home fa-lg"></i>
        <p class="mb-0 fs-6">Home</p>
      <% end %>
    </li>
    <!-- Navbar Reservations Button -->
    <li class="nav-item d-flex flex-column align-items-center">
      <%= link_to reservations_path, class: 'nav-link text-center' do %>
        <i class="fas fa-calendar-alt fa-lg"></i>
        <p class="mb-0 fs-6">Reservations</p>
      <% end %>
    </li>
    <!-- Navbar Mail Button-->
    <li class="nav-item d-flex flex-column align-items-center">
      <% if @reservation %>
        <%= link_to reservations_path(@reservation), class: 'nav-link text-center' do %>
          <i class="fas fa-envelope fa-lg"></i>
        <% end %>
      <% end %>
    </li>
    <!-- Navbar User Button -->
    <li class="nav-item d-flex flex-column align-items-center">
      <%= link_to profile_path, class: 'nav-link text-center' do %>
        <i class="fas fa-user fa-lg"></i>
        <p class="mb-0 fs-6">User Profile</p>
      <% end %>
    </li>
    <!-- Navbar Log Out Icon -->
    <li class="nav-item d-flex flex-column align-items-center">
      <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-center' do %>
        <i class="fas fa-sign-out-alt fa-lg"></i>
        <p class="mb-0 fs-6">Logout</p>
      <% end %>
    </li>
  </ul>
</nav>
