<h1>All My Reservations</h1>

<% @reservations.each do |reservation| %>
    <%=  reservation.status %>
    <%= reservation.start_date %>
    <%= reservation.end_date %>
    <%= reservation.pet_sitter.first_name %>
<% end %>

<%# <ul>
  <% @reservation.pets.each do |pet| %>
  <%# <li>Pet name: <%= pet.name</li> %>
  <%# <% end %>
<%# </ul> %>