<h1>My Reservations: </h1>

<%# Pet_owner sent reservations %>
<div class="row">
  <% @sent_reservations.each do |reservation| %>
    <div class="col-md-4 mb-4">
      <%= link_to reservation_path(reservation), class: 'card-link text-decoration-none text-dark' do %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Reservation Status: <%= reservation.status %></h5>
            <ul>
              <p class="card-text">
                <li><strong>Petsitter:</strong> <%= reservation.pet_sitter.first_name.capitalize %> <%= reservation.pet_sitter.last_name.capitalize %></li>
                <li><strong>Pet Reservation: </strong></li>
                <% reservation.pet_reservations.each do |pet_reservation| %>
                <%= pet_reservation.pet.name %>
                <% end %>
                <%# <li><strong>Reservation for:</strong> <%= reservation.pet_reservation.pet.name</li> %>
                <li><strong>Start Date:</strong> <%= reservation.start_date %><br></li>
                <li><strong>End Date:</strong> <%= reservation.end_date %><br></li>
              </p>
            </ul>
            <%# <%= link_to "Message Petsitter", reservation_path(reservation), class: 'btn btn-success' %>
            <%= link_to 'Cancel Reservation', reservation_path(reservation), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to cancel this reservation?' }, class: 'btn btn-danger' %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%# Pet_sitter received_reservations %>
<div class="row">
  <% @received_reservations.each do |reservation| %>
    <div class="col-md-4 mb-4">
      <%= link_to reservation_path(reservation), class: 'card-link text-decoration-none text-dark' do %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Reservation Status: <%= reservation.status %></h5>
            <ul>
              <p class="card-text">
                <li><strong>Pet owner:</strong> <%= reservation.pet_owner.first_name.capitalize %> <%= reservation.pet_sitter.last_name.capitalize %></li>
                <li><strong>Pet Reservation: </strong></li>
                <% reservation.pet_reservations.each do |pet_reservation| %>
                <%= pet_reservation.pet.name %>
                <% end %>
                <%# <li><strong>Reservation for:</strong> <%= reservation.pet_reservation.pet.name</li> %>
                <li><strong>Start Date:</strong> <%= reservation.start_date %><br></li>
                <li><strong>End Date:</strong> <%= reservation.end_date %><br></li>
              </p>
            </ul>
            <%# <%= link_to "Message Petsitter", reservation_path(reservation), class: 'btn btn-success' %>
            <%= link_to 'Cancel Reservation', reservation_path(reservation), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to cancel this reservation?' }, class: 'btn btn-danger' %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


