<div class="container">
  <h1 class="mb-3 text-center mb-3">My Reservations</h1>

<%# Sent Reservations %>
<h2 class="mb-3">Sent Reservations:</h2>
<% if @sent_reservations.any? %>
  <div class="row">
    <% @sent_reservations.each do |reservation| %>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <%= link_to reservation_path(reservation), class: 'card-link text-decoration-none text-dark' do %>
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title mb-3">
                Request: <strong class="<%= status_class(reservation.status) %>"><%= reservation.status.capitalize %></strong>
              </h5>
              <ul class="list-unstyled">
                <li><strong>Petsitter:</strong> <%= reservation.pet_sitter.nickname.to_s.capitalize %></li>
                <li><strong>Pet(s): </strong></li>
                <% reservation.pet_reservations.each do |pet_reservation| %>
                  <li><%= pet_reservation.pet.name.capitalize %></li>
                <% end %>
                <li><strong>Start:</strong> <%= reservation.start_date.strftime("%A, %B %d, %Y") %></li>
                <li><strong>End:</strong> <%= reservation.end_date.strftime("%A, %B %d, %Y") %></li>
              </ul>
              <div class="d-flex justify-content-between align-items-center mt-3">
                <% if reservation.status == "accepted" %>
                  <p>Your reservation request was <strong><%= reservation.status.capitalize %>!</strong>
                <% elsif reservation.status == "declined" %>
                  <p>Your reservation request was <strong><%= reservation.status.capitalize %></strong>. You can contact <strong><%= reservation.pet_sitter.nickname.to_s.capitalize %></strong> for more information!</p>
                <% end %>
              </div>
              <div class="d-flex justify-content-between align-items-center mt-3">
                <%= link_to 'Cancel Request', reservation_path(reservation), 
                  data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to cancel this reservation?' }, 
                  class: 'btn btn-light btn-sm ms-auto' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="sent-requests text-muted">You have not made any reservation requests yet!</p>
<% end %>

<%# Received Reservations %>
<% if current_user.pet_sitter %>
  <h2 class="mb-2">Received Reservations:</h2>
  <% if @received_reservations.any? %>
    <div class="row">
      <% @received_reservations.each do |reservation| %>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <%= link_to reservation_path(reservation), class: 'card-link text-decoration-none text-dark' do %>
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title mb-3">
                  Request: <strong class="<%= status_class(reservation.status) %>"><%= reservation.status.capitalize %></strong>
                </h5>
                <ul class="list-unstyled">
                  <li><strong>Pet Owner:</strong> <%= reservation.pet_owner.nickname.capitalize %></li>
                  <li><strong>Pet(s):</strong></li>
                  <% reservation.pet_reservations.each do |pet_reservation| %>
                    <li><%= pet_reservation.pet.name.capitalize %></li>
                  <% end %>
                  <li><strong>Start:</strong> <%= reservation.start_date.strftime("%A, %B %d, %Y") %></li>
                  <li><strong>End:</strong> <%= reservation.end_date.strftime("%A, %B %d, %Y") %></li>
                </ul>
                <div class="d-flex justify-content-end align-items-center mt-3">
                  <% if reservation.status == "pending" %>
                    <%= link_to 'Accept', reservation_path(reservation, status: "accepted"), 
                      data: { turbo_method: :patch, turbo_confirm: 'Are you sure you want to accept this reservation?' }, 
                      class: 'btn btn-success mt-3 me-1' %>
                    <%= link_to 'Decline', reservation_path(reservation, status: "declined"), 
                      data: { turbo_method: :patch, turbo_confirm: 'Are you sure you want to decline this reservation?' }, 
                      class: 'btn btn-danger mt-3' %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="received-requests text-muted">You have not received any reservation requests yet!</p>
  <% end %>
<% end %>
</div>