<div class="container chat">
  <h1>Your reservation details:</h1>
  
<ul>
  <% @reservation.pets.each do |pet| %>
  <li>Pet name: <%= pet.name %></li>
  <li>Species: <%= pet.species %></li>
  <% end %>
</ul>

<h5>Reservation Status: <%= @reservation.status %></h5>

  <%# turbo_stream_from "reservation_#{@reservation.id}_messages" %>
  <div id="messages" class="messages">
    <% @reservation.messages.each do |message| %>
      <%= render "messages/message", message: message, user: current_user %>
      <% end %>
  </div>

<%= simple_form_for [@reservation, @message],
  html: {class: "d-flex", data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f|
%>
  <% other_user = current_user == @reservation.pet_sitter ? @reservation.pet_owner : @reservation.pet_sitter %>
  <%= f.input :content,
    label: false,
    placeholder: "Message #{other_user.nickname}",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>
